header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}

.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 20px;
    height: 100%;
    width: auto;   
}